name: Build x86 Docker Image

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image (AMD64)
        run: |
          docker buildx build \
            --platform linux/amd64 \
            -t chatbox-amd64 \
            --output type=docker,dest=chatbox-amd64.tar .

      - name: Upload artifact (Docker image tar)
        uses: actions/upload-artifact@v4
        with:
          name: chatbox-amd64
          path: chatbox-amd64.tar
          retention-days: 7
